//
// @function layout
// @description A wrapper for the map-get function
// the retrieves a value from the $layout variable.
//
// @param  {string} [$key] The key of the value
// @param  {map} [$map: $layout] The map to search
// @return {undefined} returns the variable from the map
//
// example: main { margin-bottom: layout(margin)}
// ref: https://github.com/carpages/gemini-css/blob/master/functions/_maps.scss
//
@function layout($key, $map: $layout) {
    @if type-of($key) == string and (str-index($key, '.') or 0) > 0 {

	    $parent-key: str-slice($key, 1, str-index($key, '.') - 1);
	    $child-key: str-slice($key, str-index($key, '.') + 1);

	    @if type-of(map-get($map, $parent-key)) == map {
			@return get($child-key, map-get($map, $parent-key));
	    }
  	}

    @return map-get($map, $key);
}

@function font($key, $map: $font) {
    @if type-of($key) == string and (str-index($key, '.') or 0) > 0 {

	    $parent-key: str-slice($key, 1, str-index($key, '.') - 1);
	    $child-key: str-slice($key, str-index($key, '.') + 1);

	    @if type-of(map-get($map, $parent-key)) == map {
			@return get($child-key, map-get($map, $parent-key));
	    }
  	}

    @return map-get($map, $key);
}
