//
// Breakpoints
// @description Used in conjuction with ResponsiveBP Grid values
//
$bp-xxs: 30em !default;
$bp-xs: 37.499em !default;
$bp-s: 47.999em !default;
$bp-m: 61.999em !default;
$bp-l: 75em !default;

//
// Layout
//
//
$layout: (
	margin: 5px,
	padding: 5px,
	line-height: 24px,
	spacing: 24px
);

//
// Typography
//
//
$font: (
	standard: unquote("''"),
	heading: unquote("''"),
	strong: unquote("''"),
	italic: unquote("''"),
	brand: unquote("''")
);

$font-size: 16px;
$line-height: 20px;

//
// Colours
//
//
$palette-primary: #fcc;
$palette-secondary: #f45;
$palette-text: #04c;
$palette-headline: #c23;
